{% extends 'base.html' %}
{% block content %}
<div class="container" style="background-color: #f0f0f0; border: 1px solid #ccc; padding: 20px;">
  <h2>Estoque de Jogos</h2>
  <hr>
  <details>
    <summary>
        [ Cadastrar Jogo ]
    </summary>
    <div class="col-md-4">
        <form action="{{ url_for('estoque')}}" method="POST">
            <input type="text" name="title" placeholder="Título" class="form-control" required>
            <input type="number" name="year" placeholder="Ano" class="form-control" required>
            <input type="text" name="category" placeholder="Categoria" class="form-control" required>
            <input type="text" name="platform" placeholder="Plataforma" class="form-control" required>
            <input type="number" step="0.01" name="price" placeholder="Preço" class="form-control" required>
            <input type="number" name="quantity" placeholder="Quantidade" class="form-control" required>
            <input type="submit" value="Cadastrar" class="btn btn-success">
            <input type="reset" value="Limpar" class="btn btn-danger">
        </form>
    </div>
  </details>
  <hr>
  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Título</th>
        <th>Ano</th>
        <th>Categoria</th>
        <th>Plataforma</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for game in gamesEstoque.items %}
      <tr>
        <td>{{ game.title }}</td>
        <td>{{ game.year }}</td>
        <td>{{ game.category }}</td>
        <td>{{ game.platform }}</td>
        <td>{{ game.price }}</td>
        <td>{{ game.quantity }}</td>
        <td>
            <a href="{{url_for('edit', id=game.id)}}"><button class="btn btn-warning">Editar</button></a>
            <a href="{{url_for('estoque', id=game.id)}}"><button class="btn btn-danger" onclick="return confirm('Deseja mesmo excluir o jogo {{ game.title }}?')">Excluir</button></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p style="text-align:center;">
    <nav aria-label="Navegação de página">
      <ul class="pagination justify-content-center">
      {% if gamesEstoque.has_prev %}
        <li class="page-item">
        <a class="page-link" href="{{ url_for('estoque', page=gamesEstoque.prev_num) }}" aria-label="Anterior">
          <span aria-hidden="true">&laquo; Anterior</span>
        </a>
        </li>
      {% else %}
        <li class="page-item disabled">
        <span class="page-link">&laquo; Anterior</span>
        </li>
      {% endif %}
      {% if gamesEstoque.has_next %}
        <li class="page-item">
        <a class="page-link" href="{{ url_for('estoque', page=gamesEstoque.next_num) }}" aria-label="Próximo">
          <span aria-hidden="true">Próximo &raquo;</span>
        </a>
        </li>
      {% else %}
        <li class="page-item disabled">
        <span class="page-link">Próximo &raquo;</span>
        </li>
      {% endif %}
      </ul>
    </nav>
  </p>
</div>
{% endblock %}